<!DOCTYPE html>
<html>
<head>
  <title>PagerNova</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="/">PagerNova</a>
    <ul class="nav">
      <li><a href="/alerts">Alerts</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
  </div>
</div>
<div id="main">
  <div class="page-header">
    <h1><%= @page_header %></h1>
  </div>
  <div class="content-body">
    <%= yield %>
  </div>
  <div class="footer">
  </div>
</div>
</body>
</html>
