<!DOCTYPE html>
<html>
<head>
  <title>SOS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="/"><img src="/images/sos.png"></a>
    <ul class="nav">
      <li><a href="/">Alerts</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
    <ul class="nav pull-right">
      <li><a href="/users/<%= current_user.id %>"><i class="icon-user"></i> My Profile</a></li>
      <li>
        <%= link_to(destroy_user_session_path, method: :delete) do %>
          <i class="icon-signout"></i> Sign Out
        <% end %>
      </li>
  </div>
</div>
<% end %>
<div id="main" class="<%= @main_class %>">
  <div class="page-header">
    <h1><%= @page_header %></h1>
  </div>
  <div class="content-body">
    <%= render partial: 'layouts/messages' %>
    <%= yield %>
  </div>
  <div class="footer">
  </div>
</div>
</body>
</html>
